/* Global
----------------------------------------------------------*/
html,
body {
	height: 100%;
}

/* Login Form
----------------------------------------------------------*/
#loginForm .modal-dialog {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 310px;
	height: 181px;
	margin: auto;
}
	#loginForm .progress {
		display: none;
		width: 80%;
		margin: 0 auto;
	}
		#loginForm .progress-bar {
			width: 100%;
		}

/* Wrapper panel
----------------------------------------------------------*/
#wrap {
	display: none;
	max-width: 980px;
	min-width: 775px;
	width: 95%;
	height: 100%;
	margin: 0 auto;
	padding: 20px 0 30px;
}
	#wrap .panel-heading {
		position: relative;
		text-align: center;
	}
		#wrap .panel-heading .btn {
			position: absolute;
			top: 0;
			font-size: 18px;
			background: none;
		}
		#wrap .panel-heading .btn:hover {
			color: #fff;
			opacity: 0.7;
		}
		#wrap .panel-heading #addRoom {
			left: 0;
		}
		#wrap .panel-heading #logout {
			right: 0;
		}
	#wrap .panel-body {
		padding: 0;
	}

/* Chat module
----------------------------------------------------------*/
.chat-list {
	float: left;
	width: 200px;
	height: 100%;
	overflow: auto;
}
.users {
	float: right;
	width: 200px;
	height: 100%;
	overflow: auto;
}
.chat {
	overflow: hidden;
	height: 100%;
	background: #ececec;
}
	.chat .form-group {
		width: 100%;
		float: left;
		padding-right: 62px;
	}
		.chat .form-group input {
			width: 100%;
		}
	.chat .sendMessage {
		margin-left: -60px;
	}
.chat-conetent {
	height: 100%;
	padding: 0 2px 38px;
}
	.message-wrap {
		height: 100%;
		overflow: auto;
		position: relative;
	}
	.white {
		background: #fff;
	}
		.loading {
			position: absolute;
			width: 50px;
			height: 50px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
.controls {
	height: 38px;
	margin-top: -38px;
	padding: 2px;
}
.list-group a {
	border-radius: 0 !important;
}
.list-group-item {
	border-right: 0;
	border-left: 0;
}
.groupchat-icon {
	width: 23px;
	vertical-align: text-top;
}

.message,
.service-message {
	padding: 5px;
}
.service-message {
	opacity: 0;
}
	.message time {
		float: right;
		color: #999;
	}
