/* Global
----------------------------------------------------------*/
html,
body {
	height: 100%;
}

/* Login Form
----------------------------------------------------------*/
#loginForm .modal-dialog {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 310px;
	height: 181px;
	margin: auto;
}
	#loginForm .progress {
		display: none;
		width: 80%;
		margin: 0 auto;
	}
		#loginForm .progress .progress-bar {
			width: 100%;
		}

/* Wrapper Panel
----------------------------------------------------------*/
#wrap {
	display: none;
	max-width: 980px;
	min-width: 700px;
	width: 95%;
	height: 100%;
	margin: 0 auto;
	padding: 20px 0 30px;
}
	#wrap .panel-heading {
		position: relative;
		text-align: center;
	}
		#wrap .panel-heading .btn {
			position: absolute;
			top: 0;
			font-size: 18px;
			background: none;
		}
		#wrap .panel-heading .btn:hover {
			color: #fff;
			opacity: 0.7;
		}
		#wrap .panel-heading #addRoom {
			left: 0;
		}
		#wrap .panel-heading #logout {
			right: 0;
		}
	#wrap .panel-body {
		padding: 0;
	}

/* Chat module
----------------------------------------------------------*/
/* Loading */
.loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	margin: auto;
}

/* Chats */
.chat-container {
	overflow: hidden;
	height: 100%;
}

.chat {
	height: 100%;
}
	.chat .chat-content {
		overflow: hidden;
		height: 100%;
		background: #ececec;
		border-left: 2px solid #ececec;
		border-right: 2px solid #ececec;
	}
		.chat .messages {
			overflow: auto;
		}
		.chat .controls {
			height: 38px;
			padding: 2px;
		}

/* Chats and Users Lists */
.chat-list,
.user-list {
	width: 200px;
	height: 100%;
	overflow: auto;
}
.chat-list {
	float: left;
}
.user-list {
	float: right;
}
	.list-group-item {
		border-left: 0;
		border-right: 0;
		border-radius: 0 !important;
	}
		.list-group-item img {
			width: 23px;
			vertical-align: text-top;
		}

/* Messages */
.message {
	padding: 5px;
}
.message.white {
	background: #fff;
}
	.message time {
		float: right;
		font-size: 13px;
		color: #999;
	}

.service-message {
	padding: 5px;
	font-size: 13px;
	opacity: 0;
}
