/* Global
----------------------------------------------------------*/
html,
body {
	height: 100%;
}

/* Login Form
----------------------------------------------------------*/
#loginForm .modal-dialog {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 310px;
	height: 244px;
	margin: auto;
}

#loginForm .modal-title {
	font-size: 32px;
	line-height: 30px;
	text-align: center;
}
	#loginForm .modal-title a {
		font-size: 16px;
		color: inherit;
		text-decoration: none;
	}
		#loginForm .modal-title img {
			width: 18px;
			margin-right: 7px;
		}

#loginForm button:first-child {
	margin-bottom: 15px;
}

#loginForm .progress {
	display: none;
	width: 80%;
	margin: 0 auto;
}
	#loginForm .progress .progress-bar {
		width: 100%;
	}

/* Wrapper Panel
----------------------------------------------------------*/
#wrap {
	display: none;
	max-width: 850px;
	min-width: 600px;
	width: 95%;
	height: 100%;
	margin: 0 auto;
	padding: 30px 0;
}
#wrap.wrap-rooms {
	max-width: 600px;
	min-width: 450px;
}
	#wrap .panel-heading {
		position: relative;
	}
		#wrap .panel-heading button {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 18px;
			color: #fff !important;
			background: none;
			outline: 0;
		}
		#wrap .panel-heading button:hover {
			opacity: 0.7;
		}
	#wrap .panel-body {
		padding: 0;
	}

/* Chat Module
----------------------------------------------------------*/
/* Chats */
.chat .chat-content {
	overflow: hidden;
	height: 100%;
	padding: 0 2px;
	background: #ececec;
}
	.chat .messages {
		position: relative;
		overflow: auto;
	}
	.chat .controls {
		height: 42px;
		padding: 4px 2px;
	}

/* Users List */
.chat-user-list {
	float: right;
	width: 200px;
	height: 100%;
	overflow: auto;
}
	.list-group-item {
		color: #555 !important;
		border-left: 0;
		border-right: 0;
		border-radius: 0 !important;
	}
	.list-group-item.btn {
		text-align: left;
	}
		.list-group-item img {
			width: 23px;
			vertical-align: text-top;
		}

/* Messages */
.message {
	padding: 5px;
}
.message.white {
	background: #fff;
}
	.message time {
		float: right;
		font-size: 13px;
		color: #999;
	}
	.message .message-description {
		word-wrap: break-word;
	}
	.message .message-attach {
		margin-top: 7px;
		padding-top: 7px;
		font-size: 13px;
		border-top: 1px solid #ccc;
	}

.typing-message {
	padding: 5px;
	font-size: 13px;
	color: #999;
	background: #fff;
}

.service-message {
	padding: 5px;
	font-size: 13px;
	opacity: 0;
}

/* Loading */
.loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	margin: auto;
}
.file-loading {
	display: none;
	line-height: 34px;
	text-align: center;
}
	.file-loading img {
		position: relative;
		top: -2px;
		width: 23px;
		height: 23px;
	}

/* Attach file */
.uploader {
	position: relative;
}
	.uploader:hover .glyphicon-file {
		opacity: 0.7;
	}
	.uploader input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	.uploader .attach {
		display: none;
		position: absolute;
		top: -40px;
		left: 0;
		padding: 10px;
		color: #fff;
		background: rgba(0, 0, 0, 0.6);
		border-radius: 3px;
	}
		.attach .file {
			padding-right: 25px;
			font-size: 13px;
		}
			.attach .file .close {
				position: absolute;
				top: 6px;
				right: 10px;
				color: #fff;
				opacity: 1;
			}
			.attach .file .close:hover {
				color: #000;
				opacity: 0.5;
			}
			
/* Room manager
----------------------------------------------------------*/
.col {
	position: relative;
	width: 46%;
	height: 100%;
}
.col-search {
	float: left;
}
.col-occupants {
	float: right;
}
	.col-content {
		padding: 10px 10px 0;
	}
	.col-footer {
		height: 55px;
		padding: 10px 0;
		text-align: center;
	}
.col-controls {
	overflow: hidden;
	width: 8%;
	background: #ececec;
}
	.col-controls .buttons {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 34px;
		height: 70px;
		margin: auto;
	}
		.col-controls .buttons button:first-child {
			margin-bottom: 10px;
		}

.well {
	margin-bottom: 0;
}
.col-search .well {
	display: none;
}
	.well .list-group {
		height: 100%;
		margin-bottom: 0;
		overflow: auto;
		background: #fff;
	}

.checkbox {
	margin-top: 0;
}
	.checkbox input[type=checkbox] {
		margin-right: 10px;
		margin-left: 0;
	}

.overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
